.btn-heroku {
  color: #fff;
  background-color: #7056BF;
  border-color: #B7A7D5;
}

.btn-heroku.focus,
.btn-heroku:focus {
  color: #fff;
  background-color: #4922B1;
  border-color: #B7C4FC;
}

.btn-heroku:hover {
  color: #fff;
  background-color: #4922B1;
  border-color: #B7C4FC;
}

.btn-heroku.active,
.btn-heroku:active,
.open > .dropdown-toggle.btn-heroku {
  color: #fff;
  background-color: #4922B1;
  border-color: #B7C4FC;
}

.btn-heroku.active.focus,
.btn-heroku.active:focus,
.btn-heroku.active:hover,
.btn-heroku:active.focus,
.btn-heroku:active:focus,
.btn-heroku:active:hover,
.open > .dropdown-toggle.btn-heroku.focus,
.open > .dropdown-toggle.btn-heroku:focus,
.open > .dropdown-toggle.btn-heroku:hover {
  color: #fff;
  background-color: #4922B1;
  border-color: #B7C4FC;
}

.btn-heroku.active,
.btn-heroku:active,
.open > .dropdown-toggle.btn-heroku {
  background-image: none;
}

.btn-heroku.disabled,
.btn-heroku.disabled.active,
.btn-heroku.disabled.focus,
.btn-heroku.disabled:active,
.btn-heroku.disabled:focus,
.btn-heroku.disabled:hover,
.btn-heroku[disabled],
.btn-heroku[disabled].active,
.btn-heroku[disabled].focus,
.btn-heroku[disabled]:active,
.btn-heroku[disabled]:focus,
.btn-heroku[disabled]:hover,
fieldset[disabled] .btn-heroku,
fieldset[disabled] .btn-heroku.active,
fieldset[disabled] .btn-heroku.focus,
fieldset[disabled] .btn-heroku:active,
fieldset[disabled] .btn-heroku:focus,
fieldset[disabled] .btn-heroku:hover {
  background-color: #7056BF;
  border-color: #B7A7D5;
}

.btn-heroku .badge {
  color: #B7A7D5;
  background-color: #fff;
}
